<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>网关列表
        <small>statistics & reports</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li><%= link_to '首页', root_path %></li>
      <li class="active">网关列表页</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
      <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">网关列表</span>
              <span class="caption-helper">管理网关</span>
            </div>
            <div class="actions">
              <button id="btn-add_gateway" class="btn btn-default btn-circle">
                <i class="fa fa-plus"></i>
                <span class="hidden-480"> 添加网关</span>
              </button>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-container">
              <div id="toolbar">
                <% #使用form helper生成表单；让其引入cors的元素；%>
                <div class="btn-group">
                  <%= button_tag('启用', id: 'btn-enable_gateways',  class: 'btn btn-sm green', type: 'button', disabled: true) %>
                  <%= button_tag('禁用', id: 'btn-disable_gateways', class: 'btn btn-sm red', type: 'button', disabled: true) %>
                </div>
              </div>
              <!--网关列表-->
              <table
                id="tbl-gateways"
                data-classes="table table-striped table-bordered table-hover"
                data-url="<%= more_gateway_admin_chain_gateways_path %>"
                data-toolbar="#toolbar"
                data-search="false"
                data-method="get"
                data-data-field="data"
                data-pagination="true"
                data-side-pagination="server"
                data-page-size="25"
                data-page-list="[25, 50, 100]"
              >

              </table>
            </div>
          </div>
        </div>
        <!-- End: life time stats -->
      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->


<!--S 模态框-添加网关-->
<div class="modal" id="mdl-add_gateway" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加网关</h4>
      </div>
      <div class="modal-body">
        <%= form_for([:admin, ChainGateway.new], :html => {:id => 'frm-gateway', :class => 'clearfix user-form-validate', :role => 'form'}, :namespace => 'add') do |f| %>
<!--          <div class="form-group" hidden="hidden">-->
            <%#= f.text_field(:from_chain_type, :placeholder => '资产转出账户Name', :class => 'form-control', readonly: true, :required => true) %>
<!--          </div>-->
<!--          <div class="form-group" hidden="hidden">-->
            <%#= f.text_field(:to_chain_type, :placeholder => '', :class => 'form-control', readonly: true, :required => true) %>
<!--          </div>-->
          <div class="form-group row">
            <div class="col-sm-5">
              <%= f.select(:from_asset_id,
                           ChainAsset.all.collect{|asset| ["链#{asset.chain_type}_资产#{asset.short_name}", asset.id]},
                           {:prompt => '请选择'}, :placeholder => 'From Asset',
                           :class => 'form-control', :required => true) %>
            </div>
            <div class="col-sm-2 text-center">
              <button class="btn btn-default" type="button" disabled="disabled"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div class="col-sm-5">
              <%= f.select(:to_asset_id,
                           ChainAsset.all.collect{|asset| ["链#{asset.chain_type}_资产#{asset.short_name}", asset.id]},
                           {:prompt => '请选择'}, :placeholder => 'To Asset',
                           :class => 'form-control', :required => true) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label(:min_out_amount, '最少转出数额(扣除手续费后)', :class => "control-label") %>
            <%= f.text_field(:min_out_amount, :placeholder => '最少转出数额', :class => 'form-control', :required => true) %>
          </div>
          <div class="form-group">
            <%= f.label(:fee, '手续费', :class => "control-label") %>
            <div class="input-group">
              <%= f.text_field(:fee, :placeholder => '手续费', :class => 'form-control', :required => true) %>
              <div class="input-group-addon"><%= check_box_tag :fee_percent_mode %> <%= label_tag :fee_percent_mode, '百分比模式', :class => 'label label-sm bold text-primary' %></div>
            </div>
            <span class="help-block text-warning"><span class="fa fa-warning"></span>转出资产数量 = 转入资产的数量 - 设定的手续费</span>
          </div>
          <div class="form-group">
            <%= f.check_box(:enabled, {:class => ''}, 'true', 'false') %>
            <%= f.label(:enabled, '启用', :class => "control-label") %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">取消</button>
        <button type="button" id="btn-save_gateway" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 保存中" class="btn green">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--E 模态框-添加网关-->

<!--S 模态框-编辑网关-->
<div class="modal" id="mdl-edit_gateway" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑网关</h4>
      </div>
      <div class="modal-body">
        <%= form_for([:admin, ChainGateway.new], :html => {:id => 'frm-edit_gateway', :class => 'clearfix user-form-validate', :role => 'form'}, :namespace => 'edit') do |f| %>
          <div class="form-group row">
            <div class="col-sm-5">
              <%= f.select(:from_asset_id,
                           ChainAsset.all.collect{|asset| ["链#{asset.chain_type}_资产#{asset.short_name}", asset.id]},
                           {:prompt => '请选择'}, :placeholder => 'From Asset',
                           :class => 'form-control', :required => true, disabled: true) %>
            </div>
            <div class="col-sm-2 text-center">
              <button class="btn btn-default" type="button" disabled="disabled"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div class="col-sm-5">
              <%= f.select(:to_asset_id,
                           ChainAsset.all.collect{|asset| ["链#{asset.chain_type}_资产#{asset.short_name}", asset.id]},
                           {:prompt => '请选择'}, :placeholder => 'To Asset',
                           :class => 'form-control', :required => true, disabled: true) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label(:min_out_amount, '最少转出数额(扣除手续费后)', :class => "control-label") %>
            <%= f.text_field(:min_out_amount, :placeholder => '最少转出数额', :class => 'form-control', :required => true) %>
          </div>
          <div class="form-group">
            <%= f.label(:fee, '手续费', :class => "control-label") %>
            <div class="input-group">
              <%= f.text_field(:fee, :placeholder => '手续费', :class => 'form-control', :required => true) %>
              <div class="input-group-addon"><%= f.check_box :fee_percent_mode %> <%= label_tag :fee_percent_mode, '百分比模式', :class => 'label label-sm bold text-primary' %></div>
            </div>
            <span class="help-block text-warning"><span class="fa fa-warning"></span>转出资产数量 = 转入资产的数量 - 设定的手续费</span>
          </div>
          <div class="form-group">
            <%= f.check_box(:enabled, {:class => ''}, 'true', 'false') %>
            <%= f.label(:enabled, '启用', :class => "control-label") %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">取消</button>
        <button type="button" id="btn-edit_gateway" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 保存中" class="btn green">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--E 模态框-编辑网关-->