<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>网关状态
        <small>statistics & reports</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li><%= link_to '首页', root_path %></li>
      <li class="active">网关状态</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
      <div class="col-md-12">
        <!-- Begin: transactions stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">充提统计</span>
            </div>
            <div class="actions">
            </div>
          </div>
          <div class="portlet-body">
            <div class="trx-stat-item">
              <i class="fa fa-clock-o"></i> 待处理:  <a href="<%= admin_histories_path(:only_unhandled => true) %>"><%= @not_hand_cnt %> [查看]</a>
            </div>
            <div class="trx-stat-item hidden">
              <i class="fa fa-check"></i> 手动处理数: <%= @all_count - @not_hand_cnt %>
            </div>
            <div class="trx-stat-item">
              失败总计: <%= @all_count %> / <%= History.count %>
              <i class="fa fa-info-circle" style="cursor: pointer;" data-toggle="tooltip" data-placement="right" title="仅包含超过10分钟仍未成功的记录"></i>
            </div>
          </div>
        </div>
        <!-- End: transactions stats -->
      </div>
      <div class="col-md-12">
        <!-- Begin: transactions stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">可用地址统计(可用/总计)</span>
            </div>
            <div class="actions"></div>
          </div>
          <div class="portlet-body">
            <div class="trx-stat-item">
              <% ava_cnt = EthMap.available_cnt; cls = ava_cnt < 50 ? "text-danger bold" : "bold" %>
              ERC20: <span class="<%= cls %>"><%= ava_cnt %></span>  / <%= EthMap.count %>
            </div>
            <% total_cnt = BindMap.total_cnt %>
            <% BindMap.available_cnt.each do |k, v|%>
              <div class="trx-stat-item">
                <% cls = v < 50 ? "text-danger bold" : "bold" %>
                <%= k&.upcase %>: <span class="<%= cls %>"><%= v %></span>  / <%= total_cnt[k] %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- End: transactions stats -->
      </div>

      <div class="col-md-12">
        <!-- Begin: update gas -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">更新GAS Price</span>
            </div>
            <div class="actions"></div>
          </div>
          <div class="portlet-body">
            <div class="table-container">
              <%= form_for [:admin, @gas_setting], :html => {:id => 'frm-asset', :class => 'form-inline clearfix user-form-validate', :role => 'form'} do |f| %>
                <div class="form-group">
                  <label for="ipt_proposed_price">推荐值: </label>
                  <div class="input-group">
                    <input type="text" id="ipt_proposed_price" class="form-control" placeholder="Loading...'" readonly="readonly">
                    <div class="input-group-addon">GWei</div>
                  </div>
                </div>
                <div class="form-group hidden" hidden>
                  <%= f.text_field(:key, :class => 'form-control hidden', :hidden => true, :required => true) %>
                </div>
                <div class="form-group">
                  <%= f.label(:value, '当前值: ') %>
                  <div class="input-group">
                    <%= f.text_field(:value, value: (@gas_setting.value.to_i / 10 ** 9), :class => 'form-control', :required => true) %>
                    <div class="input-group-addon">GWei</div>
                  </div>
                </div>
                <% if can? :manage, :all %>
                  <div class="form-group">
                    <button type="button" class="btn green" id="btn-submit_gas_price">提交</button>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- End: update gas -->

        <!-- Begin: CLI stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">CLI 状态</span>
              <span class="caption-helper">BTS SEER ERC20 PFC</span>
            </div>
            <div class="actions">
              <a href="javascript:;" class="btn btn-default btn-circle" id="reload-status">
                <i class="fa fa-refresh"></i> <span> 加载</span>
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <table
              id="tbl-gateway_status"
              data-classes="table table-striped table-bordered table-hover"
              data-url="<%= cli_status_admin_gateway_status_index_path %>"
              data-search="false"
              data-pagination="false"
            >

            </table>
          </div>
        </div>
        <!-- End: CLI stats -->

        <!-- Begin: account balance stats -->
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift font-green-sharp"></i>
              <span class="caption-subject font-green-sharp bold uppercase">网关账户余额</span>
            </div>
            <div class="actions">
              <a href="javascript:;" class="btn btn-default btn-circle" id="reload-balance">
                <i class="fa fa-refresh"></i> <span> 加载</span>
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-container">
              <!---->
              <table
                id="tbl-gw_account_balance"
                data-classes="table table-striped table-bordered table-hover"
                data-url="<%= gw_account_balance_admin_gateway_status_index_path %>"
                data-search="false"
                data-pagination="false"
              >

              </table>
            </div>
          </div>
        </div>
        <!-- End: account balance stats -->


      </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
  </div>
</div>
<!-- END PAGE CONTENT -->
